@import "player-critic";

@font-face {
  font-family: customFonts;
  src: url('../fonts/gamer-review-font.woff') format('woff'),
       url('../fonts/gamer-review-font.ttf') format('truetype'),
       url('../fonts/gamer-review-font.svg#webfont') format('svg');
}

//* {
//  outline: solid red 1px;
//}

.gamer-review-glyph {

  font-family: customFonts, sans-serif;

  &.glyphicon-google-plus:before,
  &.glyphicon-facebook:before {
    font-size: 55px;
  }

  &.glyphicon-google-plus:before {
    content: "\004a";
  }

  &.glyphicon-facebook:before {
    content: "\004b";
  }

  &.glyphicon-facebook,
  &.glyphicon-google-plus {
    height: 42px;
    display: inline-block;
  }


}

body {
  background: $theme-bg;
  font-size: $font-size-base;
}

/*
 * Changing base font size
 */

@media screen and (max-width: 767px){
  body {
    font-size: $font-size-base - 1;
  }
}

@media screen and (max-width: 480px){
  body{
    font-size: $font-size-base - 3;
  }
}

/*
 * NAVBAR
 */

.navbar {
  color: $font-color;
}

.nav-container {
  background: $theme-gray;
  box-shadow: $navbar-box-shadow;
}

.navbar-nav > li {
  font-weight: bold;
}

.navbar-nav > li > a:hover {
  background: #ccc !important;
  box-shadow: 0px 1px 5px 1px $tile-box-shadow-color;
}

.navbar-nav > li > a:active,
.active-nav, .active-nav:hover {
  box-shadow: inset 0px 2px 10px -3px $tile-box-shadow-color !important;
  background: #ccc !important;
}

.active-nav:hover {
  cursor: default;
}

nav.navbar.navbar-default.navbar-center {
  line-height: 0 !important;
}
.dropdown-menu > li {
  font-style: italic;
}

.navbar-brand {
  display: none;
}

@media screen and (max-width: 767px){

  /*
   * Hidden elements
   */
  .banner,
  .carousel {
    display: none !important;
  }
  //=============================

  .navbar-brand {
    display: inline-block;
  }

  .collapse.in,
  .collapsing{
    float: left;
    display: block;
    width: 100%;
    position: absolute;
    top: 65px;
    background: $theme-gray;
    box-shadow: 0px 0px 10px 5px #999;
  }

}

/*
 * BUTTONS
 */

.btn {
  font-weight: bold;

  &:focus,
  &:active:focus {
    color: $btn-active-color;
    box-shadow: $btn-active-shadow;
    background: $btn-active-bg;
    border: $btn-active-border;
    outline: $btn-active-outline;
    margin: 1px;
  }

  &-default {

    &:hover {
      margin: 1px;
      color: $btn-hover-color;
      box-shadow: $btn-hover-shadow;
      background: $btn-hover-bg;
      border: $btn-hover-border;
      outline: $btn-hover-outline;
    }

    &:active {
      color: $btn-active-color;
      box-shadow: $btn-active-shadow;
      background: $btn-active-bg;
      border: $btn-active-border;
      outline: $btn-active-outline;
      margin: 1px;
    }
  }

  &-facebook {
    color: $font-color;
    font-weight: normal;

    &:hover {
      text-decoration: none;
      color: #4862A3;
    }
  }

  &-google {
    color: $font-color;
    font-weight: normal;

    &:hover {
      text-decoration: none;
      color: #DD4B39;
    }
  }

}

/*
 * FORMS
 */

.custom-form, {
  max-width: 500px;
  margin: 25px auto;
  box-shadow: $tile-box-shadow;
  padding: 15px;
  text-align: center;

  .form-background {
    background: $theme-gray;
    border-radius: 25px;
    display: block;
    padding: 15px 20px 1px;
    margin-bottom: 15px;
  }

  .form-title {
    font-weight: bold;
    font-size: 1.8em;
    text-align: center;
  }
}

/*
 * MODAL CONTENTS
 */

.modal {

  &-content {
    border-radius: 0px;
  }

  &-header {
    border: none;
    min-height: 30px;
    padding: 0;
    text-align: center;

    .close {
      margin: 2px;
    }
  }

}

#review-text {
  width: 100%;
}

.review-form {
  width: 100%;
  max-width: 800px;
  margin: 0px auto;
  box-shadow: none;
  text-align: center;

  .form-background {
    background: $theme-gray;
    border-radius: 25px;
    display: block;
    padding: 15px 20px 1px;
    margin-bottom: 15px;
  }

  .form-title {
    font-weight: bold;
    font-size: 1.8em;
    text-align: center;
    display: inline-block;
    margin-bottom: 15px;
  }
}

#review-submit-btn {
  float: right;
  margin-right: 35px;
}

#add-review-title {
  font-weight: bold;
  font-size: 1.7em;
}

@media screen and (max-width: 991px){
  #add-review-title {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 767px) {
  #review-submit-btn {
    float: none;
    margin-right: 0px;
  }

  #add-review-title {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 480px){
  #add-review-title {
    font-size: 1.1em;
  }
}




/*
 * RATING
 */

.rating {
  border-radius: 0px;
  font-weight: bold;
  padding: 1px 6px;

  &-success {
    background: $brand-success;
  }

  &-warning {
    background: $brand-warning;
  }

  &-danger {
    background: $brand-danger;
  }

  &-review {
    background: $theme-gray;

    &:hover {
      color: $btn-hover-color;
      box-shadow: $btn-hover-shadow;
      background: $btn-hover-bg;
      border: $btn-hover-border;
      outline: $btn-hover-outline;
    }

    &:active {
      color: $btn-active-color;
      box-shadow: $btn-active-shadow;
      background: $btn-active-bg;
      border: $btn-active-border;
      outline: $btn-active-outline;
    }
  }
}

/*
 * Some queries, yo'
 */

@media screen and (min-width: 768px) and (max-width: 991px){
  .carousel-title {
    font-size: 1.8em;
  }
}

@media screen and (max-width: 767px){
  .carousel-title {
    font-size: 1.5em;
  }
}
