/*
 * FOOTER
 */
.footer-sticky .container {
  text-align: center;
  margin-top: 25px;
  padding: 10px 0;
  background: $theme-gray;
  box-shadow: $footer-box-shadow;
}

// Animate the Footer
.footer-sticky {

  .animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}